In [2]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv("mpk_data.csv")
df = df[df["start_stop"] == "Jagodzińska"]
df

/var/folders/03/n179cc412h58x4qb9mt1bv_m0000gn/T/ipykernel_11027/3193403784.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("mpk_data.csv")

,Unnamed: 0,company,line,departure_time,arrival_time,start_stop,end_stop,start_stop_lat,start_stop_lon,end_stop_lat,end_stop_lon
493052,493052,MPK Autobusy,110,08:57:00,08:58:00,Jagodzińska,Malinowskiego,51.059197,17.056506,51.062907,17.055546
493082,493082,MPK Autobusy,110,10:07:00,10:09:00,Jagodzińska,Kajdasza,51.057025,17.056916,51.052833,17.057863
493088,493088,MPK Autobusy,110,10:27:00,10:28:00,Jagodzińska,Malinowskiego,51.059197,17.056506,51.062907,17.055546
493118,493118,MPK Autobusy,110,11:37:00,11:39:00,Jagodzińska,Kajdasza,51.057025,17.056916,51.052833,17.057863
493124,493124,MPK Autobusy,110,11:57:00,11:58:00,Jagodzińska,Malinowskiego,51.059197,17.056506,51.062907,17.055546
...,...,...,...,...,...,...,...,...,...,...,...
927896,927896,MPK Autobusy,310,16:37:00,16:39:00,Jagodzińska,Kajdasza,51.057025,17.056916,51.052833,17.057863
927900,927900,MPK Autobusy,310,16:50:00,16:52:00,Jagodzińska,Malinowskiego,51.059197,17.056506,51.062754,17.054682
927910,927910,MPK Autobusy,310,17:07:00,17:09:00,Jagodzińska,Kajdasza,51.057025,17.056916,51.052833,17.057863
927914,927914,MPK Autobusy,310,17:35:00,17:37:00,Jagodzińska,Malinowskiego,51.059197,17.056506,51.062754,17.054682
927924,927924,MPK Autobusy,310,17:52:00,17:54:00,Jagodzińska,Kajdasza,51.057025,17.056916,51.052833,17.057863

In [19]:
l = [0,0,1,1,1,2,2,3,3,4]
unique = 1

for i in range(1, len(l)):
    if l[i] != l[unique - 1]:
        l[unique] = l[i]
        unique += 1
l

[0, 1, 2, 3, 4, 2, 2, 3, 3, 4]